<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.denky.greattimetable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".MypageActivity"></activity>
        <activity android:name=".SignupActivity"></activity>

        <activity android:name="com.example.denky.greattimetable.AppInformation"
            android:theme="@style/Theme.AppCompat.Dialog"></activity>
            <!--android:theme="@style/Theme.AppCompat.Dialog"-->

    </application>

</manifest>